<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  About.cshtml
    Purpose: Html code for the About section.
    Workload:   We each contributed equally to this.
-->
@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <!--Generic Description-->
    <h1>We got what you need!</h1>
</div>