@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <address>
        The best place in America<br />
        Spartanburg, SC<br />
        <abbr title="Phone">
            Phone: 1776-MERICA
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@WE-CANT-HELP-YOU.com">Support@WE-CANT-HELP-YOU.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@BUY-OUR-STUFF.com">Marketing@BUY-OUR-STUFF.com</a>
    </address>
</div>