@{
    ViewBag.Title = "Contact Information";
}
<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Contact.cshtml
    Purpose: Html code and info for some example contact info.
    Workload:   We each contributed equally to this.
-->

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>

    <address>
        157 Kasota Road<br />
        Spartanburg, SC<br />
        <abbr title="Phone Number">
            Phone: 1-847-478-1479
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@WE-CANT-HELP-YOU.com">Support@CostLow.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@BUY-OUR-STUFF.com">Marketing@CostLow.com</a><br />
        <strong>Distribution:</strong> <a href="mailto:Distribution@BUY-OUR-STUFF.com">Distribution@CostLow.com</a>
    </address>
</div>