<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Exist.cshtml
    Purpose: Html code for the Learn More Button.
    Workload:   We each contributed equally to this.
-->
@{
    ViewBag.Title = "Exist";
}
<div class="jumbotron">
    <!--Basic Info-->
    <h2>We don't really exist...but we could.</h2>
    <br />
    <br />

    <!--Back Button: Send user to homepage-->
    <a href="/Home/Index" class="button">BACK</a>
</div>
