@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CostLow</h1>
    <p class="lead"> Welcome to Costlow! This is our employee portal website. It is only for our employees to access our company system.
                     If you are looking for the retail website for customers you are in the wrong place. Please go to Costlow.com
    </p>
    <p><a href="/Home/Exist" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

