<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Index.cshtml
    Purpose: Html code for Home Page.
    Workload:   We each contributed equally to this.
-->
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CostLow</h1>
    <p class="lead">
        Welcome to the CostLow Managment Portal.
    </p> <p>
        This site is intended to be used for employees and afflilates of CostLow Inc.
        If you are a customer and are searching for the the retail site please visit <a href="http://costlow.com">CostLow.com</a>.
    <p>
        To enter the management section please select Manage from the navagation bar above, or click Learn More found below for more information. <br>

    </p>
    <p><a href="/Home/Exist" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>